config.log
redhat*gcc*
bin
data
exe
sconsTools
build/
_build/
Release/
Debug/
RelWithDebInfo/
compile_commands.json
_prefix/
.cache/
.gdb_history
analysis/perf*
perf.data

perf.data.old
perf.data.xtsrcmaps.svg
xtsrcmaps/tests/expected/src_initial_offset.bin
xtsrcmaps/tests/expected/src_initial_offset_idx.bin
xtsrcmaps/tests/expected/src_initial_offset_scalar.bin
xtsrcmaps/tests/expected/src_mean_psf_peak.bin
xtsrcmaps/tests/expected/src_mean_psf_v0.bin
xtsrcmaps/tests/expected/src_mean_psf_values.bin
xtsrcmaps/tests/expected/src_needs_more.bin
xtsrcmaps/tests/expected/src_peak_ratio.bin
xtsrcmaps/tests/expected/src_pix_offset.bin
xtsrcmaps/tests/expected/src_psfEstimate.bin
xtsrcmaps/tests/expected/ft_mm_psf_sang.bin
xtsrcmaps/tests/expected/ft_model_map.bin

*.ipynb

docs/doxydoc/

.python-version
test.fits
